/* 
@font-face {
    font-family: "Futura Bold";
    src: local("Futura Bold"), 
            url("")
            format("ttf");
}

@font-face {
    font-family: "Dirty Headline";
    src: local("Dirty Headline"), 
            url("/Users/abbas/Pictures/cko 2023/assets/fonts/dirty_headline/Dirty Headline.ttf")
            format("ttf");
}
@font-face {
    font-family: "Headliner 45";
    src: local("HeadlinerNo.45"), 
            url("/Users/abbas/Pictures/cko 2023/assets/fonts/headliner_no_45/HeadlinerNo.45 DEMO.ttf")
            format("ttf");
}
@font-face {
    font-family: "Comic Book Crushers";
    src: local("BadaBoom BB"), 
            url("/Users/abbas/Pictures/cko 2023/assets/fonts/badaboom_bb/BADABB__.TTF")
            format("ttf");
}
@font-face {
    font-family: "Horrific Haunters";
    src: local("Hungry Hunters"), 
            url("/Users/abbas/Pictures/cko 2023/assets/fonts/Hungry Hunters.ttf")
            format("ttf");
}
@font-face {
    font-family: "Punk Rock Punishers";
    src: local("All rights reserved"), 
            url("/Users/abbas/Pictures/cko 2023/assets/fonts/all_rights_reserved/All rights reserved.ttf")
            format("ttf");
}
@font-face {
    font-family: "Retro Rumblers";
    src: local("Advertising Script Bold"), 
            url("/Users/abbas/Pictures/cko 2023/assets/fonts/advertising_script/Advertising Script Bold Trial.ttf")
            format("ttf");
}
*/

* {
    box-sizing: content-box;
}
html {
    text-align: center;
    background-color: black;
}

body {
    margin: auto;
    /* display: grid;*/
    max-width: 900px;
    text-align: center;
    background-color: orange;
    border: 2px solid white;
    padding: 10px;
}
.timer-container {
    margin: auto;
    display: grid;
    width: auto;
    align-content: center;
    /* grid-template-columns: 0.25fr 2.5fr 1fr 0.75fr 1fr 0.75fr 1fr 2.5fr 0.25fr;*/
    /* grid-template-columns: 1.5fr 0.25fr 2.75fr 0.5fr 1fr 0.5fr 2.75fr 0.5fr 1.25fr ;*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas:
        "one two three"
        "four five six"
        "seven eight nine";
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
    /* height: 120px;*/
    /* border: 2px solid yellow;*/
    background-color: rgba(0, 255, 255, 0.782);
}
.tile {
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: black;
    /* border: 2px solid green;*/
}
.score-tile {
    /* width: 100%;*/
    font-family: "Dirty Headline";
    font-size: 12rem;
    color: white;
    align-content:center;
    /* border: 2px solid red;*/
}
.period-tile, .jam-number-tile {
    font-family: 'Futura Bold';
    font-size: 3rem;
    color: white;
    /* padding: 10px; */
    /* background-color: #000000; */
}
.home-score-tile {
    grid-area: four;
    justify-self: center;
    text-align: center;
}
.home-logo-tile {
    grid-area: one;
    justify-self: center;
    text-align: center;
    vertical-align: center;
    /* padding: 10px; */
    /* border: 2px solid magenta;*/
}
.period-tile {
    grid-area: seven;
    justify-self: center;
    /* border: 2px solid pink;*/
}
.game-clock-tile {
    grid-area: five;
    justify-self: center;
    text-align: center;
    font-family: monospace;
    font-size: 4rem;
    color: white;
    visibility: hidden;
    /* border: 2px solid pink; */
}
.cko-tile {
    grid-area: two;
    justify-self: center;
    /* border: 2px solid green; */
}
.jam-number-tile {
    grid-area: eight;
    justify-self: center;
    /* border: 2px solid lightblue; */
}
.jam-timer-tile {
    grid-area: nine;
    justify-self: center;
    text-align: center;
    vertical-align: center;;
    font-family: 'Dirty Headline';
    font-size: 8rem;
    color: white;
    /* border: 2px solid lightblue;*/
}
.away-logo-tile {
    grid-area: three;
    justify-self: center;
    text-align: center;
    vertical-align: center;
    /* padding: 10px;*/
    /* border: 2px solid magenta; */
}
.away-score-tile {
    grid-area: six;
    justify-self: center;
    text-align: center;
}
/* Team Logos */
.logo-image {
    padding-bottom: 5px;
    /* box-shadow: 0 0 2px 1px rgba(240, 240, 240, 0.5);*/
    filter: blur(0px) saturate(200%) drop-shadow(2px 2px 1px black);
    max-width: 250px;
}
.cko-logo {
    max-width: 250px;
}
.cbc {
    font-family: "Comic Book Crushers";
    font-size: 2.8rem;
    color: white;
    text-shadow: 2px 5px 10px black;
    background-color: #23a0da;
    padding-bottom: 15px;
    border-radius: 10px;
    height: 60%;
}
.cbc-bg {
    font-family: "Comic Book Crushers";
    font-size: 2.8rem;
    color: white;
    text-shadow: 2px 5px 10px black;
    background-color: #23a0da;
    padding-bottom: 15px;
    border-radius: 10px;
    height: 60%;
}
.cbc-logo {
    color: white;
    background-color: #ededed;
    /* background-color: #23a0da; */
    /* padding-bottom: 15px;*/
    border-radius: 4px;
    align-self: center;
    text-align: center;
}
.hh {
    font-family: "Horrific Haunters";
    font-size: 3rem;
    color: #29b24c;
}
.prp {
    font-family: "Punk Rock Punishers";
    font-size: 3.2rem;
    color: #eeeeee;
    /* color: white;*/
    text-shadow: -2px 5px 10px black;
    background-color: #a14b9c;
    padding-bottom: 0px;
    border-radius: 10px;
    height: 60%;
}
.prp-logo {
    background-color: #ededed;
    /* background-color: #a14b9d40; */
    /* background-color: ##a14b9c; */
    /* padding-bottom: 15px;*/
    /* border-radius: 4px; */
    justify-self: center;
    align-self: center;
    text-align: center;
}
.rr {
    font-family: "Retro Rumblers";
    font-size: 3rem;
    color: #ec1f27;
    padding-top: 15px;
}