html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px solid green;
    }
body {
    min-height: 100%;
    padding: 20px;
    width: 1000px; 
    margin: auto;
    border: 0px solid blue;
    color: white;
    background-color: black;
}
h1, p {
    font-size: 3rem;
}
input, button {
    font-size: 2rem;
    margin: 1rem;
}
hr {
    margin: auto;
}

#both-team {
    margin: auto;
    text-align: center;
}

.score {
    width: 3em;
}